{
  margin: 0;
  padding: 0;
}
.header
{
  background: black(0,0,100,0.4)
  height: 100vh;
}
.video-background
{
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}
@media (min-aspect-ratio:16/9)
{
  .video-background
  width: 100%;
  height: auto;
}
@media (max-aspect-ratio:16/9)
{
  .video-background
  width: auto;
  height: 100%;
}
.logo
{
  margin: 25px;
  height: 40px;
}
.welcome-msg
{
  position: relative;
  text-align: center;
  font-family: monospace;
  color: silver;
  top: 150px;
}
.welcome-msg h1
{
  font-size: 80px;
  font-weight: 100;
  letter-spacing: 5px;
  margin-bottom: 30px;
}

/* Dropdown Button */
.dropbtn1 {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 18px;
  color: silver;
  margin: 5px;
  padding: 7px 22px;
  text-decoration: none;
  border: 1px;
  border-radius: 25px;
  background-color: inherit;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn1:hover{
  background-color: #0a3327;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  color: silver;
  font-size: 18px;
  position: absolute;
  background-color: #0a3327;
  opacity: .9;
  min-width: 100px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  z-index: 1;
  align-content: center;
  margin-left: 5px;
}

/* Links inside the dropdown */
.dropdown-content a {
  font-family: 'Pathway Gothic One', sans-serif;
  color: silver;
  padding: 10px 12px;
  margin: auto;
  align-content:center;
  text-decoration: none;
  display: block;
  transition: .5s;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: black;
  transition: .5s;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 5px;
  background-color: #0a3327;
  transition: .5s;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #0a3327;
  transition: .5s;
}

/* Dropdown Button */
.dropbtn2 {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 18px;
  color: silver;
  margin: 5px;
  padding: 7px 22px;
  text-decoration: none;
  border: 1px;
  border-radius: 25px;
  background-color: inherit;
}
.dropbtn2:hover{
  background-color: #0a3327;
  transition: .5s;
}

/* Dropdown Button */
.dropbtn3 {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 18px;
  color: silver;
  margin: 5px;
  padding: 7px 22px;
  text-decoration: none;
  border: 1px;
  border-radius: 25px;
  background-color: inherit;
}
.dropbtn3:hover{
  background-color: #0a3327;
  transition: .5s;
}

:root {
  --headerOpacity: 1;
  --headerScale: 1;
}

@mixin coverer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.video-header {
  position: absolute;
  text-align: center;
  width: 100vw;
  height: 100vh;
  &, video, .viewport-header {
    @include coverer;
  }
  video {
    background: brown;
    object-fit: cover;
  }
  .viewport-header {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    opacity: var(--headerOpacity);
    transform: scale(var(--headerScale));
  }
}


h1 {
  font-family: 'Bebas Neue', cursive;
  color: silver;
  text-transform: uppercase;
  letter-spacing: 3vw;
  line-height: 1.2;
  font-size: 3vw;
  text-align: center;
  span {
    display: block;
    font-size: 10vw;
    letter-spacing: -1.3vw;
  }
}

main {
  font-family: 'Unna', serif;
  text-align: center;
  color: silver;
  background-color: #0a3327;
  opacity: .9;
  position: relative;
  padding: 1rem;
  margin-top: 100vh;
  &::before {
    content: "";
    @include coverer;
    top: -100vh;
  }
  p {
    max-width: 600px;
    margin: 1rem auto;
  }
}
.list{
  font-family: 'Pathway Gothic One', sans-serif;
  color: silver;
  text-align: center;
  list-style:none;
  font-size: 3vw;
}

View Compiled


Resources
